<h1>Lighters</h1>
<section>
<div>
<h1>
<div class="usersShow">
    <div><%= image_tag (@post.photo) unless @post.photo.nil? %></div>
    <div><%= link_to (@post.name),user_path(@post.id) %></div>
            <button class="counter">Number of posts: <%= @post.posts_counter%></button>
            </div>
</h1>
<p><%= @post.bio%></p>
<%@post.most_recent_posts.each do |post|%>
    <div>
    <p><%=post.title%></p>
    <p><%=post.text%></p>
     <p><%= "Comments: #{post.comments_counter || 0}, Likes: #{post.likes_counter || 0 }" %></p>
    </div>
    <%end%>
    <button class="allPosts counter"><%= link_to ("See all posts"),user_posts_path(@post.id) %></button>
</div>
</section>
